# Flask
FLASK_APP=app.py
FLASK_ENV=production
SECRET_KEY=cambia_esta_clave_secreta

# SQL Server
SA_PASSWORD=SqlServer@123Seguro
DB_HOST=sqlserver
DB_PORT=1433
DB_NAME=GestionActivos
DB_USER=sa
DB_PASSWORD=SqlServer@123Seguro
