# Flask
FLASK_APP=app.py
FLASK_ENV=production
SECRET_KEY=genera_una_clave_con_secrets.token_hex_32

# Base de datos (SQL Server)
DB_HOST=sqlserver
DB_PORT=1433
DB_NAME=GestionActivos
DB_USER=appuser_sgafaq
DB_PASSWORD=cambia_esta_contraseña

SA_PASSWORD=cambia_esta_contraseña_tambien

# Correo (Gmail SMTP)
MAIL_USERNAME=tucorreo@gmail.com
MAIL_PASSWORD=tu_app_password_de_16_caracteres